<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume index</title>

    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>

  <body>
    <nav class="nav1">
      <!-- <ul></ul> -->
      <div id="logo">Logo</div>
      <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Services </a></li>
        <li><a href="#"> About us </a></li>
        <li><a href="#"> Devloper </a></li>
      </ul>
      <div id="login"><a href="{% url 'sign_up' %}">Login</a></div>
      <!-- <div id="login"><a href="{% url 'sign_up' %}">Login</a></div> -->
    </nav>
    <br />
    <br />
    <div class="nav1" id="nav2">
      <ul>
        <li id="Resume">
          <a href="{% url 'resumepage' %}">Resume</a>
        </li>

        <li id="">
          <a href="{% url 'list_resumes' %}">Template Resumes</a>
        </li>
        {% comment %} <li id="">
          <a href="{% url 'resum_analysis' %}">resum_analysis</a>
        </li> {% endcomment %}

        {% comment %} <li id=""><>Resume</a></li> {% endcomment %}
      </ul>
    </div>
  </body>
</html>
