<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <nav class="nav1">
      <div id="logo">Logo</div>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Developer</a></li>
      </ul>
      <div id="login"><a href="{% url 'sign_up' %}">Login</a></div>
    </nav>
    <div class="container">
      <div class="uploadresume">
        <div class="text">Please Upload At least one Resume</div>
        <form
          action="upload_resume/"
          method="post"
          enctype="multipart/form-data"
        >
          {% comment %} isem me atka tha yaha action me path dala hai jisse jab
          bhi ye form ka submit hoga ,the path will be the current location and
          the location in the action fir vo jayega urls me path check karga
          jiska bhi match hoga uska function call karega {% endcomment %}
          {%csrf_token %}
          <div class="uploadbtn">
            <input
              type="file"
              name="uploadresume"
              id="uploadresume"
              style="width: 300px"
              class="custom-file-input"
            />
          </div>
          <div class="decriptio">
            <select id="job-role">
              <option value="" disabled selected>Select a job role</option>
              <option value="software-engineer">Software Engineer</option>
              <option value="data-scientist">Data Scientist</option>
              <option value="project-manager">Project Manager</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <div class="submitbtn"><button type="submit">Submit</button></div>
        </form>
        <br />
        <br />
        {% comment %} <br />
        {% endcomment %} {% if resume_uploaded %}
        <h1 id="op"><p>Resume uploaded successfully</p></h1>
        {% endif %}
      </div>

      <div class="uploadresume">
        <div class="text">Click below to check the template resume</div>
        <div class="tempimg">
          <div class="overlappresume" id="one"></div>
          <div class="overlappresume" id="two"></div>
          <div class="overlappresume" id="three"></div>
        </div>
        <div class="checkresume">
          <button type="submit">Check resume</button>
        </div>
      </div>
    </div>
  </body>
</html>
