<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Account</title>
    <link rel="stylesheet" href="/static/css/sign.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/sign.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class='main'>
        <input type='checkbox' id='chk' aria-hidden='true'>

        <div class='signup'>
            <form method='post'>
                {% csrf_token %}
                <label for='chk' aria-hidden='true'>Registation</label>
                <input type='text' name='txt' placeholder="User name" request=''>
                <input type='email' name='email' placeholder="Email" request=''>
                <input type='Password' name='pswd' placeholder="Password" request=''>
                <button>Sign up</button>
            </form>
        </div>

        <div class="login">
            <form method='post'>
                {% csrf_token %}
                <label for='chk' aria-hidden='true'>Login</label>
                <input type='email' name='email' placeholder="Email Or Username" request=''>
                <input type='Password' name='pswd' placeholder="Password" request=''>
                <button>Login</button>
            </form>
        </div>
    </div>
</body>