body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* navbar */
.navbar {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 60%; */
    z-index: 10;
    /* transform: translateY(-40px); */
}

.logo {
    color: #00ff00;
    /* Neon Green */
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    z-index: 10;
}

.nav-links li {
    margin-right: 20px;
    z-index: 10;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    z-index: 10;
}

.nav-links li a:hover {
    color: #00ff00;
    /* Neon Green */
    animation: neonEffect 1s infinite alternate;
    z-index: 10;
}

.resume-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Set the width */
    grid-gap: 20px;
}

.resume-item {
    position: relative;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 350px; /* Set the height */
    width: 300px; /* Set the width */
    border: 5px solid greenyellow;
}

.resume-item h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.resume-item p {
    margin-top: 0;
    color: #ccc;
}

.resume-item a {
    position: absolute;
    bottom: 5%;
    left: 30%;
    display: block;
    text-align: center;
    background-color: #39ff14;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.resume-item a:hover {
    background-color: #25b409;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
    .resume-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .resume-item {
        height: 250px; /* Adjust the height for smaller screens */
        width: 250px; /* Adjust the width for smaller screens */
    }
}



@keyframes neonEffect {
    0% {
        text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 0 0 20px #00ff00, 0 0 25px #00ff00, 0 0 30px #00ff00, 0 0 35px #00ff00;
    }

    100% {
        text-shadow: none;
    }
}

/* PARTICLE-JS*/
#particle-js {
    /* border: 10px solid red; */
    height: 157%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.2;

    /* pointer-events: none; */
}